.first{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    background-color: bisque;
    
}
.second{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    background-color: rgb(228, 255, 196);
}
.third{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    background-color: rgb(196, 255, 239);
}
.heder{
    display: flex;
    border: 10px;
    border: 8px;
    border color:red ;
    
}
.section1{
    padding: 20px;
    text align:center;
    border:red;

}